.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: system-ui, sans-serif;



}

.App-header {
  background-color: #282c34;
  font-weight: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: calc(15px + 2vmin);
  padding: 20px;
}

.App-main {
  flex-grow: 1;
  padding: 20px;
}

